/*================================
    ▽ 共通設定
================================*/
* {
	margin: 0;
}
body {
	background-color: rgb(245, 245, 245);
}
/*================================
    ▽ カラー
================================*/
$mainColor: rgb(102, 204, 255);
$headerBGC: $mainColor;
$tabeleHeadBGC: $mainColor;
$tableDataBGC: white;

/*================================
    ▽ ボーダー
================================*/
$taskBorder: 1px solid gray;
$tabeleBorder: 3px solid rgb(245, 245, 245);

/*================================
    ▽ 横幅
================================*/
// テーブルのヘッダー横幅
$idWidth: 50px;
$taskWidth: 150px;
$detailWidth: 200px;
$limitWidth: 200px;
$statusWidth: 100px;
$deleteWidth: 100px;
$editWidth: 50px;

/*================================
    ▽ フォントサイズ
================================*/
$titleFS: 28px;
$taskFS: 18px;
/*================================
    ▽ メインスタイル
================================*/
/*================================
    ▽ ヘッダー
================================*/
header {
	background-color: $headerBGC;
	color: white;
	height: 80px;
	line-height: 80px;
	padding: 0 40px;
	letter-spacing: 10px;
	font-size: $titleFS;
}

#Task {
	border: none;
	border-bottom: $taskBorder;
	margin: 30px 0;
	margin-left: 40px;
	height: 28px;
	width: 300px;
	font-size: $taskFS;
}
#addCircle {
	height: 28px;
	cursor: pointer;
	scale: calc(1.5);
	line-height: 28px;
	&:hover {
		opacity: 0.6;
	}
}

table {
	text-align: center;
	border-collapse: collapse;
	margin-left: 30px;
	thead {
		tr {
			background-color: $tabeleHeadBGC;
			color: white;
			th {
				border: $tabeleBorder;
			}

			// width: 80vw;
			.th-id {
				width: $idWidth;
			}
			.th-task {
				width: $taskWidth;
			}
			.th-detail {
				width: $detailWidth;
			}
			.th-limit {
				width: $limitWidth;
			}
			.th-status {
				width: $statusWidth;
			}
			.th-delete {
				width: $deleteWidth;
			}
			.th-edit {
				width: $editWidth;
			}
		}
	}
	tbody {
		tr {
			td {
				background-color: $tableDataBGC;
				border: $tabeleBorder;
			}
		}
	}
}
