<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- VueCtkDateTimePicker -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.css"
		/>

		<!-- stylesheet -->
		<link rel="stylesheet" href="css\styles.css" />
		<title>Todo List</title>
	</head>
	<body>
		<!-- Vueアプリここから -->
		<div id="app">
			<header>
				<h2>Todo List</h2>
			</header>

			<!-- 入力フォームここから -->
			<form>
				<!-- <label for="Task">Task:</label> -->
				<input
					id="Task"
					type="text"
					placeholder=" Put on your task!"
					v-model="newTask"
				/>
				<!-- <label for="Detail">Detail:</label>
				<textarea
					id="Detail"
					cols="30"
					rows="2"
					v-model="newComment"
				></textarea>
				<br />
				<label for="Limit">Limit:</label>

				<vue-ctk-date-time-picker
					label="日時を選択"
					formatted="YYYY/MM/DD hh:mm a"
					v-model="newLimit"
				></vue-ctk-date-time-picker> -->

				<button @click.prevent="addTask">Add</button>
			</form>
			<!-- 入力フォームここまで -->

			<!-- Todoリストここから -->
			<table>
				<thead>
					<tr>
						<th class="th-id">ID</th>
						<th class="th-task">Task</th>
						<th class="th-detail">Detail</th>
						<th class="th-limit">Limit</th>
						<th class="th-status">Status</th>
						<th class="th-delete">Delete</th>
						<th class="th-edit">Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(todo,index) in todos" :class="{finish:todo.isDone}">
						<td>{{todo.id}}</td>
						<td>
							<input v-if="isEdit" v-model="todo.task" />
							<p v-else>{{todo.task}}</p>
						</td>
						<td>
							<input v-if="isEdit" v-model="todo.comment" />
							<p v-else>{{todo.comment}}</p>
						</td>
						<td>
							<vue-ctk-date-time-picker
								v-if="isEdit"
								label="日時を選択"
								formatted="YYYY/MM/DD hh:mm a"
								v-model="todo.limit"
							></vue-ctk-date-time-picker>
							<p v-else>{{todo.limit}}</p>
						</td>
						<td>
							<select>
								<option value="Waiting">Waiting</option>
								<option value="Doing">Doing</option>
								<option value="Complite">Complite</option>
							</select>
						</td>
						<td>
							<button @click="rmTask(index)">×</button>
						</td>
						<td>
							<button v-if="!isEdit" @click="isEdit = !isEdit">Edit</button>
							<button v-else @click="isEdit = !isEdit">OK</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- 各種機能ここから -->
			<section>
				<!-- 全削除機能 -->
				<button @click="allDelete">All Delete</button>
			</section>
			<!-- 各種機能ここまで -->

			<!-- 旧表示 -->
			<!-- <ul>
				<l v-for="(todo,index) in todos" :class="{finish:todo.isDone}">
					<input type="checkbox" v-model="todo.isDone" />
					ID: {{todo.id}} | {{todo.task}} | {{todo.comment}} | {{todo.limit}}
					<button @click="rmTask(index)">×</button>
				</l{{todo.>
			}}</ul> -->
			<!-- 旧表示 -->
			<!-- Todoリストここまで -->

			<!-- デバッグ用 -->
			<pre>{{$data.todos}}</pre>
			<!-- デバッグ用 -->
		</div>
		<!-- Vueアプリここまで -->

		<!-- 開発バージョン、便利なコンソールの警告が含まれています -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

		<!-- VueCtkDateTimePicker -->
		<script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.umd.min.js"></script>

		<!-- メイン処理 -->
		<script src="js\main.js"></script>
	</body>
</html>
