<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- VueCtkDateTimePicker -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.css"
		/>

		<!-- stylesheet -->
		<link rel="stylesheet" href="css\styles.css" />
		<title>Todo List</title>
	</head>
	<body>
		<!-- Vueアプリここから -->
		<div id="app">
			<header>
				<h2>Todo List</h2>
			</header>

			<!-- 入力フォームここから -->
			<form>
				<input
					id="Task"
					type="text"
					placeholder=" Put on your task!"
					v-model="newTask"
				/>
				<button @click.prevent="addTask">Add</button>
			</form>
			<!-- 入力フォームここまで -->

			<!-- 追加機能 -->
			<!-- ステータスによる絞り込み機能 -->
			<hr />
			<label for="statusFilter">【絞り込み】</label><br />
			<input type="checkbox" value="Waiting" v-model="checkedStatus" />Waiting
			<br />
			<input type="checkbox" value="Doing" v-model="checkedStatus" />Doing
			<br />
			<input type="checkbox" value="Complete" v-model="checkedStatus" />Complete
			<br />
			<hr />
			<!-- 追加機能ここまで -->

			<!-- Todoリストここから -->
			<table>
				<thead>
					<tr>
						<!-- テーブルの見出しレンダリング -->
						<th v-for="table in tableSet.head" :class="table.class">
							{{table.title}}
						</th>
					</tr>
				</thead>

				<tbody>
					<tr v-for="(todo,index) in todos" :class="{complete:todo.isDone}">
						<td>{{todo.id}}</td>
						<td class="td-task">
							<input v-if="isEdit" v-model="todo.task" />
							<p v-else>{{todo.task}}</p>
						</td>

						<td class="td-detail">
							<input v-if="isEdit" v-model="todo.comment" />
							<p v-else>{{todo.comment}}</p>
						</td>

						<td class="td-limit">
							<vue-ctk-date-time-picker
								v-if="isEdit"
								label="日時を選択"
								formatted="YYYY/MM/DD hh:mm a"
								v-model="todo.limit"
							></vue-ctk-date-time-picker>
							<p v-else>{{todo.limit}}</p>
						</td>

						<td>
							<select v-model="todo.isDone">
								<option value="`false`">Waiting</option>
								<option value="`false`">Doing</option>
								<option value="`true`">Complete</option>
							</select>
						</td>
						<td>
							<button @click="rmTask(index)">×</button>
						</td>
						<td>
							<button v-if="!isEdit" @click="isEdit = !isEdit">Edit</button>
							<button v-else @click="isEdit = !isEdit">OK</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- 各種機能ここから -->
			<section>
				<!-- 全削除機能 -->
				<button @click="allDelete">All Delete</button>
			</section>
			<!-- 各種機能ここまで -->

			<!-- Todoリストここまで -->

			<!-- デバッグ用 -->
			<!-- <pre>{{$data.todos}}</pre> -->
			<pre>{{$data.checkedStatus}}</pre>
			<!-- デバッグ用 -->
		</div>
		<!-- Vueアプリここまで -->

		<!-- 開発バージョン、便利なコンソールの警告が含まれています -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

		<!-- VueCtkDateTimePicker -->
		<script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@2.4.0/dist/vue-ctk-date-time-picker.umd.min.js"></script>

		<!-- メイン処理 -->
		<script src="js\main.js"></script>
	</body>
</html>
